<h2 class="page-title">Novo Pedido</h2>
<form (submit)="createOrder()" class="order-form">
  <!-- Campo do Cliente -->
  <mat-form-field appearance="outline" class="form-group custom-field name-client">
    <mat-label>Nome do Cliente</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="customer"
      name="customer"
      required
      placeholder="Digite o nome do cliente"
    />
  </mat-form-field>

  <!-- Botão para Adicionar Item -->
  <button
    type="button"
    (click)="addItem()"
    mat-raised-button
    color="primary"
    class="btn btn-add"
  >
    <mat-icon>add</mat-icon>
    Adicionar Item
  </button>

  <!-- Lista de Itens -->
  <div *ngFor="let item of items; let i = index" class="item-group">
    <mat-card class="item-card">
      <mat-card-content class="item-content">
        <!-- Campo do Produto -->
        <mat-form-field appearance="outline" class="form-group custom-field product-field edit-campos">
          <mat-label>Produto</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="item.product"
            name="product{{i}}"
            placeholder="Nome do produto"
            required
          />
        </mat-form-field>

        <!-- Campo da Quantidade -->
        <mat-form-field appearance="outline" class="form-group custom-field quantity-field edit-campos">
          <mat-label>Quantidade</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="item.quantity"
            name="quantity{{i}}"
            placeholder="Quantidade"
            required
          />
        </mat-form-field>

        <!-- Campo do Preço -->
        <mat-form-field appearance="outline" class="form-group custom-field price-field edit-campos">
          <mat-label>Preço</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="item.price"
            name="price{{i}}"
            placeholder="Preço unitário"
            required
          />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Botão para Criar Pedido -->
  <button
    type="submit"
    mat-raised-button
    color="accent"
    class="btn btn-submit"
  >
    <mat-icon>add</mat-icon>
    Criar Pedido
  </button>
  <button
    type="submit"
    mat-raised-button
    color="accent"
    class="btn btn-submit"
  >
    <mat-icon>refresh</mat-icon>
    Atualizar Lista
  </button>
</form>
