<h2>Lista de Pedidos</h2>
<mat-list class="order-list">
  <mat-card *ngFor="let order of orders" class="order-item">
    <mat-card-content>
      <p><strong>Cliente:</strong> {{ order.customer }}</p>
      <p><strong>Status:</strong> {{ order.status }}</p>
      <p><strong>Total:</strong> R$ {{ order.total }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="updateStatus(order._id, 'Processado')"
        [disabled]="order.status === 'Processado'"
      >
        <mat-icon>check_circle</mat-icon>
        Processar Pedido
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>
